@import "~@blueprintjs/core/lib/scss/variables";

.header,
.main,
.footer {
	z-index: 0;
	min-width: 260px;
}

.header_title {
	text-align: center;
	letter-spacing: 0.5rem;
	margin: 2rem;
	color: $gray1;
}

.main {
	flex: 1 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	padding: 2rem;
	margin-top: 2rem;
	z-index: 0;
}

.footer {
}
