@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";
@import "~@blueprintjs/core/lib/scss/variables";
@import "./variables";

body {
	font-size: $font-size;
	font-weight: 400;
	color: $dark-gray4;
}

h1 {
	font-size: 3em;
	font-weight: 300;
}
